<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welocme to Recruitment Test Application</h1>
    <p class="col-md-8 fs-4">This Test  will contains total 5 questions. Each Question holds 10 Points</p>
    <h4>Rules:</h4>
    <ol>
      
        <li>It is Mandatory to Complete the Test Application before appearing for the Job Interview</li>
        <li>The Assessment will have a direct Impact on the Recruitment Process</li>
        <li>You will have 60 sec to answer each question</li>
        <li>Refereshing the page will reset the Quiz</li>
        
    </ol>
    
    
        <label for="">Enter your name:</label>
        <input #name type="text" class="form-control">

        <button class="btn btn-primary" type="submit" routerLink="/question">Start Quiz</button>

        <h1 style="font-family: cursive;text-align:center">All the best!!</h1>
        
        
        
    
   